<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latefees</title>
    <link rel="stylesheet" href="/library/css/latefee.css">
</head>
<body>
      <a href="/library/dashboard">
         <button class="back-btn">  ← Back </button>
      </a>

<div class="form-card"> <h1>Late Fee</h1>

  <input type="number" id="days" placeholder="Enter Days">

   <button onclick="calculateLateFee()"> Calculate </button>
   <h2 id="result"></h2>
</div>
     <script src="/library/js/latefee.js"></script>
</body>
</html>





