<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>printcost</title>
    <link rel="stylesheet" href="/library/css/printcost.css">
</head>
<body>
    <a href="/library/dashboard">

    <button class="back-btn">
        ← Back
    </button>

</a>

<div class="form-card">

<h1>Print Cost</h1>

<input type="number"
id="pages"
placeholder="Enter Pages">

<button onclick="calculatePrint()">
Calculate
</button>

<h2 id="result"></h2>

</div>
<script src="/library/js/printcost.js"></script>
</body>
</html>




