
<nav class="navbar">
    <div class="navbar-left">
        <button id="navbarToggle" class="toggle-btn">
            <i class="ri-menu-line"></i>
        </button>
        <div class="logo">
            <img src="/library/assets/logo-1.png" alt="logo-img">
            <h1><span>Library Dashboard</span></h1>
        </div>
    </div>

    <!-- <div class="search-box">
        <span class="icon"><i class="ri-search-line"></i></span>
        <input type="text" placeholder="Search site # (101, 102...)" />
    </div> -->
</nav>

